body
{
    margin: 0;
    background-color: black;
    color: black;
    text-align: left;
    font-family: "Arial";
    font-size: 10px;
}

.container
{
    border: 1px solid gray;
    width: 80%;
    padding: 0em;
    text-align: left;
    font-weight: bold;
    margin: 0 auto;
}

.header
{   
    background: #133c50;
    display: flex;
    align-items: center;
    justify-content: start;
    box-shadow: inset 0px 0px 15px 0px rgb(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    margin: 0 auto;
    padding: 0;
    /* background-image: url("../imagenes/cohete.jpg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center; */
}

figure
{
    margin: 0;
}

.logo
{
    margin: 0;
    padding: 0;
    width: 100px;
    
}

.header h1
{
    padding: 0 0 0 1em;
    font-size: 30px;
}

.header h2
{
    font-weight: normal;
    font-size: 1.7em;
    padding: 0 0 0 1.5em;
}

.post
{
    background-color: white;
    padding: 0 1em;
    margin: 0;
}

.post h1
{
    margin: 0;
    padding: 10px 0; 
    font-size: 20px;
}

.post p
{
    margin: 0;
    padding: 10px 0;
    font-size: 1.5em;
    font-weight: normal;
}